<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="LifeCtrl">
    <!-- column -->
    <div class="col w-lg lt b-r" style="width:320px;" ng-show="show">
        <div class="vbox">
            <div class="wrapper">
                <div class="h4">生活类文章</div>
            </div>
            <div class="wrapper b-t m-t-xxs">
                <div class="input-group">
                    <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control input-sm" placeholder="搜索" ng-model="query">
                </div>
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="padder">
                            <div class="list-group">
                                <a ng-repeat="note in notes | filter:query | orderBy:'date':true" class="list-group-item b-l-{{note.color}} b-l-3x hover-anchor" ng-class="{'hover': note.selected }" ng-click="selectNote(note._id)">
                                    <span class="pull-left thumb thumb-wrapper m-r" style="width: 45px;">
                                        <img src="img/b0.jpg" style="height: 38px;">
                                    </span>
                                    <!-- <span ng-click='deleteNote(note)' class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span> -->
                                    <span class="block text-ellipsis">{{ note.articleName ? note.articleName : 'Empty note' }}</span>
                                    <small class="text-muted">{{note.articleName}}</small>
                                    <!-- <small class="text-muted">{{ note.date | fromNow }}</small> -->
                                    <div class="line line-xs b-b b-light"></div>
                                    <div class="text-muted">
                                        <i class="fa fa-user text-muted"></i><small> {{note.authorName}}</small>
                                        <i class="fa fa-clock-o text-muted"></i> <small>{{note.articleDate}}</small>
                                    
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->
    <!-- column -->
    <div class="col" style="background:#fff">
        <div class="vbox">
            <div class="wrapper bg-light lt b-b">
                <span ng-click="hideNav()" style="cursor:pointer">{{btnContent}}</span>
                <span class="text-muted">创建于:</span> <span>{{ note.articleDate  | date:'MMM-dd-yyyy H:mm' }}</span>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner" style="margin-bottom:40px">
                        <h3 class="text-center">{{note.articleName}}</h3>
                        <p class="text-center">
                            <cite title="时间 作者" style="font-style: normal;">作者:{{note.authorName}}</cite>
                            </cite>
                        </p>
                        <div class="form-control no-radius no-border no-bg wrapper-lg text-md" style="height:100%;" id="content">
                        </div>
                    <div class="form-group wrapper-lg" style="margin-bottom:30px;">
                            <div>
                                <div style="margin: 1.3rem 0;
                                text-align: center;
                                color: #909090;
                                font-weight: 500;
                                font-size: 1.4rem;">评论</div>
                                <textarea wangeditor id="textarea1" class="form-control" placeholder="请输入内容" rows="6" ng-model="editorContent"><p>请输入内容...</p></textarea>
                                <button type="submit" class="btn btn-sm btn-primary pull-right" 
                                ng-click="submitComment(note._id)" style="margin-top:10px">评论</button> 
                                <!--comment-->
                                <div>
                                    
                                </div>           
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <!-- /column -->
    
</div>
