<!-- <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">生活类文章</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-9">
            <div class="blog-post">
                <div class="panel">
                    <div class="wrapper-lg">
                        <h2 class="m-t-none"><a href>迪士尼小镇: 小镇周围美吗</a></h2>
                        <div>
                            <p>迪士尼小镇是上海迪士尼度假区的重要组成部分。“迪士尼小镇”是上海迪士尼度假区内的大型购物餐饮娱乐区，这一面积超过46,000平方米的“迪士尼小镇”将向公众免费开放。地理位置优越的“迪士尼小镇”不仅可以让游览完主题乐园的游客得以延续乐园的神奇体验，也将成为上海及其周边地区居民的最佳休闲去处。这里包括五个区域：“小镇市集”、“百食香街”、“百老汇大道”、“百老汇广场”和“迪士尼小镇湖畔”。
                            </p>
                            <div class="line line-lg b-b b-light"></div>
                            <div class="text-muted">
                                <i class="fa fa-user text-muted"></i> by <a href class="m-r-sm">hyacinth</a>
                                <i class="fa fa-clock-o text-muted"></i> 2016/12/12 星期日
                                <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 4条评论</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="wrapper-lg">
                        <h2 class="m-t-none"><a href>迪士尼小镇: 小镇周围美吗</a></h2>
                        <div>
                            <p>迪士尼小镇是上海迪士尼度假区的重要组成部分。“迪士尼小镇”是上海迪士尼度假区内的大型购物餐饮娱乐区，这一面积超过46,000平方米的“迪士尼小镇”将向公众免费开放。地理位置优越的“迪士尼小镇”不仅可以让游览完主题乐园的游客得以延续乐园的神奇体验，也将成为上海及其周边地区居民的最佳休闲去处。这里包括五个区域：“小镇市集”、“百食香街”、“百老汇大道”、“百老汇广场”和“迪士尼小镇湖畔”。
                            </p>
                            <div class="line line-lg b-b b-light"></div>
                            <div class="text-muted">
                                <i class="fa fa-user text-muted"></i> by <a href class="m-r-sm">hyacinth</a>
                                <i class="fa fa-clock-o text-muted"></i> 2016/12/12 星期日
                                <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 4条评论</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="wrapper-lg">
                        <h2 class="m-t-none"><a href>迪士尼小镇: 小镇周围美吗</a></h2>
                        <div>
                            <p>迪士尼小镇是上海迪士尼度假区的重要组成部分。“迪士尼小镇”是上海迪士尼度假区内的大型购物餐饮娱乐区，这一面积超过46,000平方米的“迪士尼小镇”将向公众免费开放。地理位置优越的“迪士尼小镇”不仅可以让游览完主题乐园的游客得以延续乐园的神奇体验，也将成为上海及其周边地区居民的最佳休闲去处。这里包括五个区域：“小镇市集”、“百食香街”、“百老汇大道”、“百老汇广场”和“迪士尼小镇湖畔”。
                            </p>
                            <div class="line line-lg b-b b-light"></div>
                            <div class="text-muted">
                                <i class="fa fa-user text-muted"></i> by <a href class="m-r-sm">hyacinth</a>
                                <i class="fa fa-clock-o text-muted"></i> 2016/12/12 星期日
                                <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 4条评论</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <h5 class="font-bold">全部</h5>
            <div>
                <div>
                    <a class="pull-left thumb thumb-wrapper m-r">
                        <img src="img/b0.jpg">
                    </a>
                    <div class="clear">
                        <a href class="font-semibold text-ellipsis">Bootstrap 3: What you need to know</a>
                        <div class="text-xs block m-t-xs"><a href>Travel</a> 2 minutes ago</div>
                    </div>
                </div>
                <div class="line"></div>
                <div>
                    <a class="pull-left thumb thumb-wrapper m-r">
                        <img src="img/b1.jpg">
                    </a>
                    <div class="clear">
                        <a href class="font-semibold text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        <div class="text-xs block m-t-xs"><a href>Design</a> 2 hours ago</div>
                    </div>
                </div>
                <div class="line"></div>
                <div>
                    <a class="pull-left thumb thumb-wrapper m-r">
                        <img src="img/b2.jpg">
                    </a>
                    <div class="clear">
                        <a href class="font-semibold text-ellipsis">Sed diam nonummy nibh euismod tincidunt ut laoreet</a>
                        <div class="text-xs block m-t-xs"><a href>MFC</a> 1 week ago</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->
<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="LifeCtrl">
    <!-- column -->
    <div class="col w-lg lt b-r" style="width:320px;">
        <div class="vbox">
            <div class="wrapper">
                <div class="h4">生活类文章</div>
            </div>
            <div class="wrapper b-t m-t-xxs">
                <div class="input-group">
                    <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control input-sm" placeholder="搜索" ng-model="query">
                </div>
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="padder">
                            <div class="list-group">
                                <a ng-repeat="note in notes | filter:query | orderBy:'date':true" class="list-group-item b-l-{{note.color}} b-l-3x hover-anchor" ng-class="{'hover': note.selected }" ng-click="selectNote(note)">
                                    <span class="pull-left thumb thumb-wrapper m-r" style="width: 45px;">
                                        <img src="img/b0.jpg" style="height: 38px;">
                                    </span>
                                    <span ng-click='deleteNote(note)' class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                                    <span class="block text-ellipsis">{{ note.title ? note.title : 'Empty note' }}</span>
                                    <small class="text-muted">{{note.title}}</small>
                                    <!-- <small class="text-muted">{{ note.date | fromNow }}</small> -->
                                    <div class="line line-xs b-b b-light"></div>
                                    <div class="text-muted">
                                        <i class="fa fa-user text-muted"></i><small> by hyacinth</small>
                                        <i class="fa fa-clock-o text-muted"></i> <small>2016/12/12 星期日</small>
                                    
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->
    <!-- column -->
    <div class="col">
        <div class="vbox">
            <div class="wrapper bg-light lt b-b">
                <span class="text-muted">创建于:</span> <span>{{ note.date  | date:'MMM-dd-yyyy H:mm' }}</span>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="form-control no-radius no-border no-bg wrapper-lg text-md" style="height:100%;">{{note.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->
